.tiny-loading {
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: spinner 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--color-secondary) transparent;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Correction for avatar component */
/*.avatar */
.tiny-loading {
    margin: 4px auto;
}

.login .tiny-loading,
article .tiny-loading {
    border-color: var(--color-primary) transparent;
}
